<section ng-class="$ctrl.styles.welcome">
  <header>
    <div>
      <h1>PDXEats</h1>
    </div>
    <nav>
      <ul>
        <li ng-if="$ctrl.isAuthenticated()" ui-sref="welcome" ng-click="$ctrl.logout()">Logout</li>
        <li ng-if="$ctrl.isAuthenticated()" ui-sref="neighborhoods">Signin</li>
        <li ng-if="$ctrl.isAuthenticated()">Account
          <ul>
            <li ng-if="$ctrl.isAuthenticated()" ui-sref="reviews({id: review._id})" ng-repeat="review in $ctrl.reviews">
              {{review.title}}
            </li>
          </ul>
        </li>
        <li ui-sref="welcome.about">About</li>
      </ul>
    </nav>
  </header>

  <ui-view></ui-view>
</section>
