<section ng-class="$ctrl.styles.neighborhoods">
  <section class="add">
    <add-new fields="name, quadrant" add="$ctrl.add"></add-new>
  </section>

  <section class="quadrants">
    <h3>filter</h3>
    <select
      ng-model="$ctrl.quadOptions"
      ng-options="quadrant for quadrant in ['N', 'NE', 'NW', 'SE', 'SW']">
    </select>
  </section>

  <section class="neighborhoods">
    <ul>
      <li 
        ui-sref="neighborhood({ id: neighborhood._id })"
        ng-repeat="neighborhood in $ctrl.neighborhoods | orderBy: 'name'">
        <span>{{ neighborhood.name }}</span>
      </li>
    </ul>
  </section>
</section>