<section ng-class="$ctrl.styles.neighborhoods">
  <section class="neighborhood">
    <ui-view></ui-view>
  </section>

  <section class="list-neighborhoods">
    <h2>Select a neighborhood</h2>
      <div class="filter">
        <button ng-click="filter=!filter" ng-hide="filter">Filter</button>
      </div>
      <section class="quadrants" ng-show="filter">
        <h3>Filter</h3>
        <select
          ng-model="$ctrl.quadOptions"
          ng-options="quadrant for quadrant in ['N', 'NE', 'NW', 'SE', 'SW']">
        </select>
        <button ng-show="filter" ng-click="filter=!filter">Cancel</button>
      </section>
    <div class="add">
      <button ng-click="add=!add" ng-hide="add">Add</button>
    </div>
    <section class="add-neighborhood" ng-show="add">
    <div class="form">
      <form>
        <h3>new neighborhood</h3>
        <label>Name</label>
          <input ng-model="$ctrl.newNeighborhood.name"><br>
        <label>Quadrant</label>
          <input ng-model="$ctrl.newNeighborhood.quadrant"><br>
      </form>
      <div class="submit">
        <button ng-show="add" ng-click="$ctrl.addNeighborhood()">Submit</button>
        <button ng-show="add" ng-click="add=!add">Cancel</button>
      </div>
    </div>
  </section>
    <div class="list">
      <ul>
        <li 
          ui-sref="portland.neighborhood({ id: neighborhood._id })"
          ng-model="$ctrl.selected"
          ng-repeat="neighborhood in $ctrl.neighborhoods | orderBy: 'name'"
        >{{ neighborhood.name }}</li>
      </ul>
    </div>
</section>