@import 'colors';
@import 'fonts';

:local(.neighborhoods) {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 3px solid $blue;
  .quadrants {
    width: 100%;
    border: 3px solid $orange;
    h3 {
      font-size: 1.5em;
    }
  }
  .add-neighborhood {
    width: 30%;
    height: 100%;
    border: 3px solid $orange;
    .form {
      width: 100%;
      float: right;
      border: 3px solid $black;
      form {
        width: 100%;
        text-align: right;
      }
    }
    .submit {
      width: 100%;
      margin: 1% 0;
      button {
        width: 100%;
        margin: 1% 0;
        float: left;
      }
    }
  }
  .neighborhood {
    width: 100%;
    margin: 0;
    border: 3px solid $orange;
  }
  .list-neighborhoods {
    width: 100%;
    margin: 0;
    border: 3px solid $orange;
    h2 {
      font-size: 2em;
    }
    .add {
      width: 50%;
      float: left;
      button {
        width: 100%;
        margin: 0;
        background-color: $black;
        color: #ffffff;
      }
    }
    .filter {
      width: 50%;
      float: right;
      button {
        width: 100%;
        margin: 0;
        background-color: $black;
        color: #ffffff;
      }
    }
    .neighborhoods {
      width: 100%;
      margin: 0;
      padding: 0 3em;
      text-align: right;
      font-size: 1.5em;
      overflow-x: auto;
      li:hover {
          color: $blue;
          cursor: pointer;
      }
    }
  }
}