@import 'colors';
@import 'fonts';

:local(.neighborhoods) {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-image: url("/img/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: justify;
  
  .add-neighborhood {
    position: absolute;
    right: 0;
    top: 0;
  }
}
