@import 'colors';
@import 'fonts';

:local(.header) {
  margin: 0;
  header {
    width: 100%;
    height: 200px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 3px solid $black;
    .logo {
      width: 150px;
      height: 150px;
      margin: 2% 4%;
      padding: 1.5em;
      text-align: center;
      border: 3px solid $black;
      border-radius: 50%;
      h1 {
        margin: 0;
        font-family: $headline;
        font-size: 4em;
      }
    }
    nav ul {
      width: 60%;
      float: right;
      font-family: $content;
      font-size: 1em;
      text-align: right;
      list-style: none;
      padding: 0;
      li {
        position: relative;
        float: right;
        margin: 0 2%;
        font-size: 2em;
      }
      li:hover {
        color: $blue;
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .custom-headers {
      position: fixed;
      right: 0;
      top: 0;
      width: 300px;
      text-align: right;
    }
  }
}