<section ng-class="$ctrl.styles.neighborhood">
  <header>
    <h2>{{ $ctrl.neighborhood.name }}</h2>
    <button ng-click="$ctrl.removeNeighborhood()">X</button>
    <button ui-sref="portland.neighborhood.restaurants">restaurants</button>
  </header>

  <div class="add">
    <button ng-click="add=!add" ng-hide="add">add</button>
  </div>

  <section ng-class="$ctrl.newRestaurant" ng-show="add">
    <h3>Add restaurant for review in {{ $ctrl.neighborhood.name }}</h3>
    <form>
      <label>Name</label>
        <input type="text" ng-model="$ctrl.newRestaurant.name"><br>
      <label>Street</label>
        <input type="text" ng-model="$ctrl.newRestaurant.street"><br>
      <label>City</label>
        <input type="text" ng-model="$ctrl.newRestaurant.city"><br>
      <label>Zip</label>
        <input ng-model="$ctrl.newRestaurant.zip"><br>
    </form>
    <button ng-show="add" add="$ctrl.add()">submit</button>
    <button ng-show="add" ng-click="add=!add">cancel</button>
  </section>
</section>