<section>
  <h2>{{ $ctrl.neighborhood.name }}</h2>
  <div class="add">
    <button ng-click="add=!add" ng-hide="add">Add</button>
  </div>
  <section>
    <ui-view></ui-view>
  </section>

  <section ng-class="$ctrl.newRestaurant" ng-show="add">
    <h3>Add a new restaurant in {{ $ctrl.neighborhood.name }}</h3>
    <form>
      <label>Name</label>
        <input ng-model="$ctrl.newRestaurant.name"><br>
      <label>Street</label>
        <input ng-model="$ctrl.newRestaurant.street"><br>
      <label>City</label>
        <input ng-model="$ctrl.newRestaurant.city"><br>
      <label>Zip</label>
        <input ng-model="$ctrl.newRestaurant.zip"><br>
    </form>
    <button ng-show="add" ng-click="$ctrl.addRestaurant()">Submit</button>
    <button ng-show="add" ng-click="add=!add">Go back</button>
  </section>
</section>