$grey: #C5D4D1;
$azure: #E8FBF9;
$bright-teal: #338BAA;
$green: #2F4131;
$bright-green: #63A575;
$magenta: #A02E52;
$black: #020806;
$background: rgba(51,139,170,.3);

$pink: #EA8F98;
$petal: #F4CBDB;
$teal: #3FA3BA;
$seafoam: #8CBEC7;